.books
  padding-bottom: 50px
  a
    color: #000
    text-decoration: none
  a:visited
    color: rgba(0, 0, 0, .5)  
  h1
    font-size: 320%
    margin-bottom: 30px
  h2
    opacity:.8
  p
    font-size: 80%
    opacity: .5
  h1, h2, h3, h4
    font-weight: 100
    margin: 0
    padding: 0
  img
    height: auto
    max-width: 100%
  .book
    background: #fff url(/images/spinner.gif) center 30px no-repeat
    border: 1px solid rgba(0, 0, 0, .15)
    border-radius: 3px
    margin: 3px
    .book-wrapper
      min-height: 60px
      min-width: 60px
    
  .animation-fade
    opacity: 0
  .animation-faded
    opacity: 1
  .animation-faded
    -webkit-transition: opacity 1s linear .2s
    -moz-transition: opacity 1s linear .2s
    -o-transition: opacity 1s linear .2s
    transition: opacity 1s linear .2s