.loginBox
  max-width: 90%
  width: 500px

.stretch input
  width: 100%

.book
  width: 150px
  border: 1px solid silver
  padding: 2px
  margin: 2px

.face
  border-radius: 50px
  border: 1px solid silver
  box-shadow: 2px 2px 1px silver
  width: 100px
  height: 100px
  margin: 1px