<md-content class="md-padding" layout="column">
  <md-content class="md-padding search-box" layout="row" layout-align="center center">
    <input md-maxlength="30" name="search.query" ng-model="search.query">
    <md-button class="md-primary">Search</md-button>
  </md-content>
  <md-list class="books" layout="row" layout-wrap>
    <md-item flex ng-repeat="book in books">
      <div class="book" layout="column" layout-align="center center">
        <image ng-src="{{book.iconUrl}}"></image>
        <p>{{book.title}}</p>
      </div>
    </md-item>
  </md-list>
</md-content>