<div class="l-header">
    <h1>CGC Book Shelf</h1>
    <h2>Feel free to share your favourite books.</h2>
</div>

<div class="deckgrid clearfix" deckgrid source="books" cardTemplate="templates/deckgrid-card.html"></div>

<md-sidenav md-component-id="detail" class="md-sidenav-right">
    <md-toolbar class="md-theme-light">
      <h1 class="md-toolbar-tools">Details</h1>
    </md-toolbar>
    <div layout="column" layout-align="center center">
        <h3>{{selectedBook.title}}</h3>
        <img src="" data-ng-src="{{selectedBook.images.medium}}">
        <p>{{selectedBook.author}}</p>
        <p>{{selectedBook.summary}}</p>
        <md-content class="md-padding">
          <md-button ng-click="borrow()" class="md-primary">
            borrow
          </md-button>
        </md-content>
    </div>
</md-sidenav>