.library
  width: 1024px
  background:rgba(0, 0, 0, .04)
  font-family: 'Open Sans', sans-serif
  
.face
  border-radius: 50px
  border: 1px solid silver
  box-shadow: 2px 2px 1px silver
  width: 100px
  height: 100px
  margin: 1px